/* --------------------------------------------------------------------------------------------- */

.center {
  text-align: center;
}


.title {
  text-align: center;
  position: relative;
  top: 6vh;
  
}

.navHomepage {
  display: flex;
  justify-content: space-between;
  border: solid black 2px;
  width: 20%;


}

.charCreate {
  position: relative;
  left: 50vw;
  top: 15vh;
}

/* --------------------------------------------------------------------------------------------- */

.CharSelect1 {
  text-align: center;
  position: relative;
  top: 6vh;
}

.charCreate1 {
  position: relative;
  left: 15vw;
  bottom: 6vh;
}

.home {
 position: relative;
 left: 80vw;
 bottom: 6vh;
}

/* --------------------------------------------------------------------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}