/* --------------------------------------------------------------------------------------------- */

.center {
  text-align: center;
}


.title {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
  
.nav {
  display: flex;
  /* border: solid 2px black; */
}

.navHomepage {
  display: flex;
  justify-content: space-between;
  width: 25%;
  /* border: solid black 2px; */
  margin-left: 37vw;

}


.charCreate {
  position: relative;
  left: 50vw;
  top: 15vh;
}

/* --------------------------------------------------------------------------------------------- */

.CharSelect1 {
  text-align: center;
  position: relative;
  top: 6vh;
}

.charCreate1 {
  position: relative;
  left: 15vw;
  bottom: 6vh;
}

.home {
 position: relative;
 left: 80vw;
 bottom: 6vh;
}

/* --------------------------------------------------------------------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}