
.navCharCreate {
  display: flex;
  justify-content: space-between;
  margin: 0px 17vw;
}

.formC {
  display: flex;
  padding-left: 30vw;
  /* border: 5px solid black; */
  flex-direction: column;
  margin-right: 50vw;
}

.name {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}



.diffRole {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-right: 1vw;
}


.userCreatedPic {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  margin-left: 6.3vw;
  max-width: 150px;
  max-height:150px;
}

.questionGuy {
  margin-left: 3.4vw;
}

#questionGuyImg {
  height: 250px;
  width: 250px;
}

#difficulty {
  width: 18%;
}

.abilContainer {
  border: 2px solid gray;
  display: flex;
  margin-left: 55vw; 
  margin-right: 30vw;
  padding: 10px;
  position: relative;
  bottom: 35vh;
}



.subBtn {
  display: flex;
  justify-content: right;
  width: auto;
  margin-left: 25vw;
  position: relative;
  bottom: 27vh;
}

/* ------------------------------------------------------------------------------------------ */
@media only screen and (max-width: 500px) {

  .navCharCreate {
    display: flex;
    justify-content: space-between;
    margin: 0px 4vw;
    position: relative;
    top: 75vh;
  }
  
  .formC {
    display: flex;
    padding-left: 30vw;
    /* border: 5px solid black; */
    flex-direction: column;
    margin-right: 4vw;
    position: relative;
    bottom: 20vw;
  }
  
  .name {
    position: relative;
    top: 12vh;
    right: 6vw;
  }
  
  
  
  .diffRole {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12vh;
    right: -3vh;
    gap: 40px;
  }

#selectRoleSel {
  width: 50%;
}

  #difficulty {
    width: 22%;
  }
  
  
  .userCreatedPic {
    border: 2px solid black;
    position: relative;
    right: 35vw;
    bottom: 2vh;
  }
  
  .questionGuy {
    position: relative;
    right: 34vw;
    bottom: 2vh;
  }
  
  #questionGuyImg {
    height: 150px;
    width: 150px;
  }
  
  .abilContainer {
    border: 2px solid gray;
    display: flex;
    padding: 0vh 90vw 20vh 2vw;
    position: relative;
    bottom: 10vh;
    right: 52vw;
  }

  #abilities {
    position: relative;
    top: 2vh;
  }
  
  .subBtn {
    display: flex;
    justify-content: right;
    position: relative;
    top: 37vh;
    right: 45vw;
  }

}