.footer {
  display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: solid black 2px; */
    position: absolute;
    bottom: 0vh;
    margin: 0vh;
    width: 99%;
    flex-wrap: wrap;
}

.footer2 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

@media all and (max-width: 500px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black 2px; */
    position: relative;
    top: 22vh;
    margin: 0vh;
    width: 99%;
    flex-wrap: wrap;
  }

  .footer2 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }

}