.headerContainer {
  display: flex;
  justify-content: center;
}

#headerImg {
  height: 200px;
}

@media all and (max-width: 500px) {
  .headerContainer {
    display: flex;
    justify-content: center;
  }

  #headerImg {
    height: 55px;
  }
}