.navViewChar {
  display: flex;
  justify-content: space-between;
  margin: 0px 17vw;
}

.navHomePage {
  display: flex;
  justify-content: space-between;
  margin: 15vh 40vw;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5vh;
}


.characterContainer {
  display: flex;
  padding-left: 30vw;
  /* border: 5px solid black; */
  flex-direction: column;
  margin-right: 50vw;
}

.characterItems {
  display: flex;
  justify-content: center;
  align-content: center;
  /* border: 5px solid black; */
  width: 50%;
  height: auto;
}



/* -------------------------------------------------Name------------------------------------------------------------- */
.nameC {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}

/* ----------------------------------------------Image------------------------------------------------------------- */
.imageC {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
}

.img {
  /* border: 2px solid black; */
  height: 400px;
  width: auto;
}
/* ------------------------------------------------Role------------------------------------------------------------ */

.roleC {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
}

.roleNameC {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

/* -----------------------------------------------------Abilities-------------------------------------------------------- */

.abilC {
  display: flex;
  /* border: 5px solid black; */
  justify-content: right;
  width: 25%;
  margin-left: 55vw;
  inline-size: 250px;
  position: relative;
  bottom: 50vh;
  flex-direction: column;
}


.abilNameC {
  border: 2px solid black;

}


.delbtn {
  display: flex;
  /* border: 5px solid black; */
  justify-content: right;
  width: auto;
  margin-left: 57vw;
  position: relative;
  bottom: 50vh;
}


@media only screen and (max-width: 400px) {

  .navViewChar {
    display: flex;
    justify-content: space-between;
    margin: 0px 17vw;
  }
  
  
  .characterContainer {
    display: flex;
    padding-left: 15vw;
    /* border: 5px solid black; */
    padding: 0vh 48.6vw;
  }
  
  .characterItems {
    display: flex;
    justify-content: center;
    align-content: center;
    /* border: 5px solid black; */
    width: 25%;
    height: auto;
  }
  
  
  
  /* -------------------------------------------------Name------------------------------------------------------------- */
  .nameC {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 5vh;
    left: 39vw;
    /* border: 2px solid red; */
  }
  
  /* ----------------------------------------------Image------------------------------------------------------------- */
  .imageC {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25vh;
    right: 20vw;
  }
  
  .img {
    /* border: 2px solid black; */
    height: 250px;
    width: 300px;
  }
  /* ------------------------------------------------Role------------------------------------------------------------ */
  
  .roleC {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 15vh;
    left: 16vh;
  }
  
  .roleNameC {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 3vh;
    left: 16vh;
  }
  
  /* -----------------------------------------------------Abilities-------------------------------------------------------- */
  
  .abilC {
    display: flex;
    /* border: 5px solid black; */
    inline-size: 300px;
    position: relative;
    bottom: 24vh;
    right: 55vw;
    padding: 0vh 5vw 0vh 0vh;
  }
  
  
  .delbtn {
    display: flex;
    /* border: 5px solid black; */
    justify-content: right;
    width: auto;
    margin-left: 76vw;
    position: relative;
    bottom: 12vh;
  }

  .navViewChar {
    display: flex;
    justify-content: space-between;
    margin: 0px 8vw;
    position: relative;
    top: 75vh;
  }
  


}